name: Test & Build

on:
  push:
    branches: [ master, develop, pre, feat/*, fix/* ]
jobs:
  test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - run: pnpm test
        if: "!contains(github.event.head_commit.message, '[skip test]')"
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    needs: test
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - run: pnpm build
      - run: cd ./dist && pnpm pack --pack-destination=../
      - run: pnpm semantic-release
        if: "!contains(github.event.head_commit.message, '[skip publish]')"
        env:
          NPM_TOKEN: "${{ secrets.NPM_TOKEN }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
