name: Semantic Release

on:
  push:
    branches: [master, develop, feat/*, fix/*]
jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
      - run: yarn install --frozen-lockfile
      - run: yarn test
      - run: yarn build
      - run: yarn semantic-release
        if: "!contains(github.event.head_commit.message, '[skip publish]')"
        env:
          NPM_TOKEN: "${{ secrets.NPM_TOKEN }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
